@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button onclick="uploadFile()">Upload</button>
</div>

@section Scripts {
    <script>
        function uploadFile() {
            fetch('/Home/UploadFileToGoogleDrive')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('File uploaded successfully:', data);
                })
                .catch(error => {
                    console.error('There was a problem with your fetch operation:', error);
                });
        }
    </script>
}
